* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {

    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

nav {
    background-color: #0035c5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: block;
    /**    background-color:bisque;**/
    padding: 0 1em 3em;
    /**padding-bottom: 3em;**/
    min-height: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
}
footer{
    padding:15px;
    background:#0035c5;
    text-align: center;
    color:#fff;
  }

.wrapper{
    flex:auto;
  }

/**********************************Navigation bar styles***********************/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60px;

}

.navrow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    /**padding-left: 0;**/

}

.hamburgerbtn {
    border: none;
    background-color: #0035c5;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 10px;
}

.paddlebtn {
    border: none;
    background-color: #0035c5;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 10px;
}

.navrow h1 {
    font-size: 1.2em;
    color: white;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#navMenu {
    display: none;
    position: absolute;
    background-color: pink;
    margin: 0 auto;
    background-color: #0035c5;
    left: -15px;
    right: 0;
    text-align: left;
    top: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 250px;
    height: 1200px;
    z-index: 1001;
}

#navMenu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/******************************Main Image Styles******************************/
.box {
    position: relative;
    display: inline-block;
    /* Make the width of box same as image */
}

.box .text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 40%;
    /* Adjust this value to move the positioned div up and down */
    /** background: rgba(0, 0, 0, 0.8);**/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    width: 60%;
    /* Set the width of the positioned div */
}

.banner1 {
    /** border: 5px solid yellow;**/
    width: 90%;
    margin: auto;
}
/**************************   Main Title Styles   ******************************/
.content-header {
    padding-top: 2px;
    padding-bottom: 2px;
}

.content-header>h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 10px;
}

.content-header>hr {
    border-top: 2px solid gray;
    margin: 10px 10px;
}


/*****************************  Form Styles *************************/

label {
    padding-top: 8px 1px;
}


input[type=text],
[type=date],
select {
    /**color: aquamarine;**/
    padding: 5px 20px;
    margin: 8px 1px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: grey;
    color: black;
    padding: 8px 16px;
    margin: 12px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0035c5;
    color: white;
}

/*********************Section styles*********************/
.section-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /**background-color: yellowgreen;**/
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2 em;
    padding-bottom: 1em;
    align-items: flex-start;
    width: 90%;


}

.section-content h1 {
    font-size: 1.5rem;
    color: green;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;

}

.section-content h2 {
    font-size: 1.25rem;
    padding-top: 10px;
    padding-bottom: 2px;

}


/***Media Screens***/
@media screen and (max-width: 1000px) {



    .main {

        width: 100%;
        /**background: brown;**/
    }

    .banner1 {
        display: flex;
        width: 100%;
    }

    .flex-container {
        width: 100%;
    }


}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    /** body {
        background: purple;
    }**/

    main {
        /** background-color: aqua;**/
        width: 1000px;
    }


}

@media screen and (min-width: 1400px) {
    /**body {
        background: green;
    }**/

    main {
        /** background-color: blue;**/
        width: 1000px;
    }

    .content-header>hr {
        display: none;
    }

}

